@font-face {
	font-family: 'Avenir';
	src: url('./fonts/avenir/Avenir-Medium.eot');
	src: local('Avenir Medium'), local('Avenir-Medium'),
		url('./fonts/avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/avenir/Avenir-Medium.woff2') format('woff2'),
		url('./fonts/avenir/Avenir-Medium.woff') format('woff'),
		url('./fonts/avenir/Avenir-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('./fonts/avenir/Avenir-Black.eot');
	src: local('Avenir Black'), local('Avenir-Black'),
		url('./fonts/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts/avenir/Avenir-Black.woff2') format('woff2'), url('./fonts/avenir/Avenir-Black.woff') format('woff'),
		url('./fonts/avenir/Avenir-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Azo Sans Bk';
	src: url('./fonts//azosans/AzoSans-Black.eot');
	src: local('Azo Sans Black'), local('AzoSans-Black'),
		url('./fonts//azosans/AzoSans-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts//azosans/AzoSans-Black.woff2') format('woff2'),
		url('./fonts//azosans/AzoSans-Black.woff') format('woff'),
		url('./fonts//azosans/AzoSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
