@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 12px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	width: 1100px;
	max-width: 95%;
	margin: 0 auto;
}

.sub-title {
	font-family: 'Azo Sans Bk';
	font-weight: 900;
	color: white;
	text-align: center;
	font-size: 2.125rem;
	margin: 2.5rem 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.sub-title--secondary {
	color: black;
}

.btn {
	display: inline-block;
	cursor: pointer;
	font-family: 'Avenir';
	font-size: 0.875rem;
	font-weight: 900;
	text-decoration: none;
	border-radius: 12px;
	letter-spacing: 1px;
	padding: 1rem 1.6rem;
}

.section-header {
	height: 11rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* SECTION HEADER */

header {
	/* position: fixed;
	width: 100%;
	z-index: 9999; */
	background-image: url(./images/top-background.png);
	background-size: cover;
	height: 10.2rem;
	display: flex;
	align-items: center;
	border-bottom: 5px solid white;
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: inline-block;
}

.logo img {
	height: 4rem;
}
.logo p {
	font-family: Avenir Black;
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 1.25rem;
}

nav {
	display: flex;
}

header ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

header ul li {
	margin-right: 2rem;
	font-size: 0.875rem;
	font-family: 'Avenir';
	font-weight: 500;
	color: #fff;
	letter-spacing: 2px;
}

.menu-item,
.menu-item:visited,
.menu-item:active {
	color: white;
}

.menu-item:hover {
	opacity: .8;
}

.btn--sign-up {
	background-color: #fff;
	color: rgb(29, 73, 156);
	margin-left: 10px;
}

.btn--sign-in {
	background-color: rgb(28, 190, 230);
	color: white;
	margin-left: 10px;
}

/* SECTION HERO*/

.hero {
	height: 80vh;
	background-image: url('./images/hero-background.png');
	background-size: cover;
}

.hero .container {
	display: flex;
	height: 100%;
	align-items: center;
}

.hero__text-container {
	width: 51%;
	margin-left: auto;
}

.hero__text-container h1 {
	color: white;
	font-size: 3.375rem;
	margin: 0;
	font-family: 'Azo Sans Bk';
	font-weight: 900;
	letter-spacing: 2px;
	filter: drop-shadow(0px 1px 1px black);
}

.hero__text-container p {
	font-size: 1.5rem;
	color: white;
	font-family: 'Azo Sans Bk';
	margin: .4rem 0;
	letter-spacing: 2px;
	filter: drop-shadow(0px 1px 1px black);
}

.btn--become-affiliate {
	padding: 1.25rem;
	color: white;
	background-color: rgb(28, 190, 230);
	margin-top: .4rem;
}

.btn:hover {
	box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
}

/* SECTION STEPS*/

.steps .circles-desktop {
	width: 100%;
}

.steps .circles-mobile {
	display: none;
}

.steps__cards-container {
	margin: 2.625rem 0;
	display: flex;
	justify-content: space-around;
}

.steps_card {
	text-align: center;
	width: 30%;
}

.steps_card img {
	display: none;
}

.steps_card:nth-of-type(1) .card__title {
	color: rgb(80, 102, 245);
}

.steps_card:nth-of-type(2) .card__title {
	color: rgb(119, 77, 231);
}

.steps_card:nth-of-type(3) .card__title {
	color: rgb(214, 72, 147);
}

.card__title {
	font-family: 'Avenir';
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 0;
}

.card__text {
	font-family: 'Avenir';
	font-weight: 500;
	font-size: 1.5rem;
	margin: 0;
}

/* SECTION EARNING STRUCTURE */

.earning-structure .section-header {
	background-image: url('./images/red-back.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.earning-structure {
	background-color: white;
}

.earning-structure .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 3.5rem 0;
}

.structure-element {
	width: 50%;
	display: flex;
}

.structure-element--big {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.element-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.element-title {
	font-family: 'Azo Sans Bk';
	font-size: 1.5rem;
	letter-spacing: 2px;
}

.element-text {
	font-family: 'Avenir';
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 1.5rem;
}

.element-circle {
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
}

.element-circle + .element-content {
	margin-left: 1.875rem;
}

.element-circle--yellow {
	background: rgb(248, 255, 202);
}

.element-circle--green {
	background: rgb(224, 255, 213);
}

.element-circle--pink {
	background: rgb(255, 201, 221);
}

.earning-structure img {
	width: 100%;
	object-fit: cover;
}

/* SECTION COMMISSIONS CALCULATOR*/

.com-calc .sub-title {
	margin-bottom: 0;
	color: black;
}

.sub {
	font-family: 'Avenir';
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.5rem;
}

.com-calc .section-header {
	background: white;
}

.com-calc img {
	width: 100%;
	object-fit: cover;
}

/* SECTION COIN & REWARDS */

.rewards .section-header {
	background-image: url('./images/purple-back.png');
	background-size: cover;
}

.rewards-text-container {
	margin: 3.375rem 0;
}

.rewards-text {
	font-size: 1.2rem;
	font-family: 'Avenir';
	text-align: center;
	margin: 1.5rem 0;
}

.rewards .sub-title--secondary {
	font-size: 1.5rem;
}

.btns-centered {
	display: flex;
	justify-content: center;
	margin-bottom: 5.5rem;
}

.btns-centered .btn {
	padding: 1.25rem 3.5rem;
	letter-spacing: 1px;
}

.btn-su {
	color: white;
	background: rgb(8, 185, 166);
	margin: .5rem;
}

.btn-si {
	color: white;
	background: rgb(11, 80, 206);
	margin: .5rem;
}

.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.swiper-slide {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 25rem;
	justify-content: center;
	align-items: center;
	font-size: 1.15rem;
	padding: calc(2rem + 15px);
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
}

.impression-name {
	font-family: 'Avenir';
	font-weight: 500;
}

.impression-text {
	font-family: 'Avenir';
	font-weight: 900;
}

.border-image {
	position: absolute;
	bottom: 0;
	height: 2rem;
	width: 100%;
}

/* FOOTER */

footer {
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-image: url(./images/footer-back.png);
}

footer ul {
	display: flex;
	list-style: none;
	font-family: 'Avenir';
	font-weight: 500;
	font-size: 1.3rem;
}

.text-links ul li + li {
	margin-left: 3rem;
}

footer ul li:hover {
	opacity: .9;
}

.icon-links ul li:not(:last-child) {
	margin-right: 2.5rem;
}

.icon-links i {
	font-size: 2rem;
}

footer ul li a {
	color: white;
	letter-spacing: 1px;
}

.footer-links {
	margin: 3rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: white;
}

.footer ul li a,
.footer ul li a:visited,
.footer ul li a:active {
	color: white;
}

footer .all-rights-reserved {
	text-align: center;
	font-family: 'Avenir';
	font-weight: 500;
	font-size: 1.2rem;
	color: white;
	opacity: .9;
	margin: 1rem;
}

/* CALC COPY */
.section {
	background-color: #ffffff;
	width: 100%;
	overflow: hidden;
	font-family: 'Roboto';
}
.section .container {
	width: 1100px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}
.section .sub-section {
	text-align: center;
	width: 100%;
	overflow: hidden;
	display: block;
	padding: 0;
}
.section .sub-section .section-title {
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	margin-top: 30px;
	font-size: 2rem;
	display: block;
}
.section .sub-section .section-desc {
	text-align: center;
	width: 100%;
	color: #686874;
	font-size: 2rem;
	display: block;
}
.section .sub-section .section-content {
	padding-bottom: 20px;
}
.section .sub-section .section-content #rate {
	margin: 30px auto;
	display: block;
	width: 400px;
}
.section .sub-section .section-content #rate .row {
	overflow: hidden;
	display: block;
}
.section .sub-section .section-content #rate .row .col {
	font-weight: normal;
	text-align: center;
	width: 66.666667px;
	line-height: 30px;
	color: #656774;
	display: block;
	height: 30px;
	float: left;
}
.section .sub-section .section-content #rate .row .col .id {
	font-size: 1rem;
	color: #2a2a34;
}
.section .sub-section .section-content #rate .row .col .label {
	font-size: 1.2rem;
}
.section .sub-section .section-content #rate .row.head {
	border-bottom: 1px dashed #e4e7f0;
	padding-bottom: 5px;
}
.section .sub-section .section-content #rate .row.head .col {
	line-height: 1rem;
	height: 2.5rem;
}
.section .sub-section .section-content .video {
	margin: 30px auto;
	height: 370px;
	width: 560px;
}
.section .sub-section .section-content .service-img {
	margin: 10px auto;
	display: block;
	height: 80px;
}
.section .sub-section .section-content .service-img.loaded {
	animation: pop 0.5s linear 1;
}
.section .sub-section .section-content .opportunities {
	width: 100%;
	overflow: hidden;
	padding: 0 100px;
	display: block;
}
.section .sub-section .section-content .opportunities .opportunity {
	text-align: center;
	padding: 15px 30px;
	width: 33.33333%;
	display: block;
	float: left;
}

.section .sub-section .section-content .opportunities .opportunity .op-icon {
	border: 1px solid #e9ecf3;
	border-radius: 50%;
	margin: 15px auto;
	display: block;
	padding: 2px;
	height: 36px;
	width: 36px;
	margin-top: 0;
}

.section .sub-section .section-content .opportunities .opportunity .op-icon i.fa {
	border: 1px solid #e9ecf3;
	color: #696971;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 30px;
}

.section .sub-section .section-content .opportunities .opportunity .op-title {
	margin-bottom: 10px;
	font-size: 18px;
	display: block;
}

.section .sub-section .section-content .opportunities .opportunity .op-content {
	line-height: 22px;
	color: #686874;
	font-size: 14px;
}
.section .sub-section .section-content .text {
	line-height: 1.8;
	padding: 10px 0;
	display: block;
	font-size: 1.1rem;
}
.section .sub-section .section-content .seperator {
	background-color: #e4e7f0;
	display: block;
	margin: 0 auto;
	width: 500px;
	height: 1px;
}
.section .sub-section .section-content .section-desc {
	text-align: center;
	line-height: 1.5;
	display: block;
	margin: 0 auto;
	width: 560px;
	margin-bottom: 30px;
}
.section.special {
	background-color: #e89c24;
	color: #ffffff;
}
.section.special .sub-section .section-title {
	color: #ffffff;
}
.section.special .sub-section .section-desc {
	margin-bottom: 30px;
	color: #ffffff;
}
.section.special .sub-section .special-row {
	background-color: #e5961d;
	padding-top: 20px;
	overflow: hidden;
	display: block;
}
.section.special .sub-section .special-row #payout-slider {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
}
.section.special .sub-section .special-row .slider {
	background-color: #eee;
	border-radius: 30px;
	margin: 20px auto;
	display: block;
	border: none;
	height: 5px;
	width: 500px;
}
.section.special .sub-section .special-row .slider .ui-slider-handle {
	background-color: #ffffff;
	border-radius: 30px;
	margin-left: -35px;
	text-align: center;
	font-weight: bold;
	line-height: 26px;
	font-size: 11px;
	padding: 0 20px;
	color: #f3724a;
	border: none;
	height: 26px;
	width: 70px;
	top: -11px;
}

.section.special .sub-section .special-row .slider .ui-slider-handle::before {
	font-family: "FontAwesome";
	position: absolute;
	content: "\f053";
	display: block;
	height: 100%;
	width: 20px;
	left: 0;
	top: 0;
}

.section.special .sub-section .special-row .slider .ui-slider-handle::after {
	font-family: "FontAwesome";
	position: absolute;
	content: "\f054";
	display: block;
	height: 100%;
	width: 20px;
	right: 0;
	top: 0;
}

.section.special .sub-section .special-row .slider .ui-slider-handle.ui-state-active {
	background-color: #fefefe;
	color: #f3724a;
}
.section.special .sub-section .special-row .rate-sliders {
	width: 1100px;
	overflow: hidden;
	padding: 30px 0;
	display: block;
	margin: 0 auto;
}
.section.special .sub-section .special-row .rate-sliders .col {
	font-weight: normal;
	padding: 0 30px;
	width: 33.3333%;
	display: block;
	float: left;
}
.section.special .sub-section .special-row .rate-sliders .col .col-title {
	margin-bottom: 15px;
	font-size: 16px;
}
.section.special .sub-section .special-row .rate-sliders .col .col-desc {
	font-size: 14px;
}
.section.special .sub-section .special-row .rate-sliders .slider {
	margin: 20px auto;
	display: block;
	width: 90%;
}
.section.special .sub-section #calculation {
	width: 1100px;
	font-weight: lighter;
	margin: 30px auto;
	font-size: 14px;
	padding: 0;
}
.section.special .sub-section #calculation .row {
	overflow: hidden;
	display: block;
}
.section.special .sub-section #calculation .row .col {
	text-align: center;
	padding: 10px 0;
	width: 6.83333%;
	display: block;
	float: left;
}
.section.special .sub-section #calculation .row .col.title {
	text-align: right;
	width: 18%;
}
.section.special .sub-section #calculation .row.head {
	border-top: 1px solid #ffffff;
}
.section.special .sub-section #calculation .row:not(:last-child) {
	border-bottom: 1px dashed #ffffff;
}
.section.special .sub-section .section-content {
	width: 1100px;
	font-weight: normal;
	text-align: left;
	padding: 0 120px;
	font-size: 12px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
.section.bottom .sub-section {
	padding: 0 100px;
}
.section.bottom .sub-section .section-content .text {
	color: #686874;
}
.section.bottom .sub-section .section-content .section-sub-title {
	font-size: 22px;
	display: block;
	margin: 20px 0;
}

/* calc media */
@media all and (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0 5px;
	}
	nav {
		flex-direction: column;
	}
	.hero {
		height: 60vh;
	}
	.header-btns {
		display: flex;
		justify-content: center;
	}
	header .btn {
		padding: .4rem 1.5rem;
		margin: 2px;
	}
	.hero__text-container {
		width: 80%;
		margin: 0 auto;
	}

	.circles-desktop {
		display: none;
	}

	.steps__cards-container {
		flex-direction: column;
	}

	.steps_card {
		width: 100%;
		margin-bottom: 1rem;
	}

	.steps_card img {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

	.steps_card:nth-child(3) img {
		margin-bottom: 1rem;
	}

	.structure-element {
		width: 100%;
		margin: 10px 0;
		text-align: left;
	}

	.structure-element:nth-of-type(3) {
		margin-left: 2.5rem;
	}

	.element-circle {
		height: 2rem;
		width: 2rem;
	}

	.element-circle + .element-content {
		margin-left: .5rem;
	}

	.section.special {
		margin-top: 2rem;
	}

	.section .sub-section {
		padding: 10px;
	}
	.section .sub-section .section-title {
		font-size: 22px;
		margin-top: 10px;
	}
	.section .sub-section .section-desc {
		font-size: 14px;
	}
	.section .sub-section .section-content {
		padding: 0;
	}
	.section .sub-section .section-content .video {
		margin-bottom: 0;
		width: 100%;
		height: auto;
	}
	.section .sub-section .section-content #shuffle-logo {
		margin: 20px auto;
	}
	.section .sub-section .section-content #rate {
		margin: 20px auto;
		width: 100%;
	}
	.section .sub-section .section-content #rate .row .col {
		width: 16.6666667%;
		font-size: 14px;
	}
	.section .sub-section .section-content #rate .row .col .id {
		font-size: 14px;
	}
	.section .sub-section .section-content .opportunities {
		padding: 0;
	}
	.section .sub-section .section-content .opportunities .opportunity {
		padding: 15px 0;
		width: 100%;
	}
	.section .sub-section .section-content .text {
		padding: 10px 20px;
		line-height: 1.5;
		font-size: 14px;
		display: block;
	}
	.section.special .sub-section {
		padding: 10px 0;
	}
	.section.special .sub-section .section-desc {
		margin-bottom: 20px;
	}
	.section.special .sub-section .special-row {
		padding: 20px 10px;
	}
	.section.special .sub-section .special-row .payouts {
		width: 100%;
	}
	.section.special .sub-section .special-row .payouts .payout {
		padding: 10px 5px;
		font-size: 14px;
	}
	.section.special .sub-section .special-row .rate-sliders {
		margin-bottom: 20px;
		width: 100%;
		padding: 0;
	}
	.section.special .sub-section .special-row .rate-sliders .col {
		padding: 15px 20px;
		width: 100%;
	}
	.section.special .sub-section .special-row .rate-sliders .col .col-title {
		margin-bottom: 10px;
	}
	.section.special .sub-section #calculation {
		overflow-x: scroll;
		padding: 0;
	}
	.sub {
		text-align: center;
	}
	.section.special .sub-section #calculation .row {
		width: 500px;
	}
	.section.special .sub-section .section-content {
		width: 100%;
		padding: 0;
	}
	.section.bottom .sub-section {
		padding: 10px;
	}
	.section.bottom .sub-section .section-content .section-sub-title {
		margin: 10px 0;
	}
}
/* end of calc media */
